@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ~~~~~~~~~~~ Global Styles ~~~~~~~~~~~~~~~~~ */

* {
  font-family: "Space Grotersk", sans-serif;
}

/* Credit Card Image Styles */
.cc-front {
  background: url("./images/bg-card-front.png") no-repeat center/cover;
}

.cc-back {
  background: url("./images/bg-card-back.png") no-repeat center/cover;
}
.cc-front,
.cc-back {
  height: 200px;
  width: 325px;
  border-radius: 10px;
}

/* ~~~~~~~~~~~ DESKTOP STYLE ~~~~~~~~~~~~~~ */
@media (min-width: 1024px) {
  .cc-front,
  .cc-back {
    height: 300px;
    width: 500px;
    border-radius: 20px;
  }
}
